@model ParkingRentWeb.Models.Paking

@{
	ViewData["Title"] = "Louer un parking";
}

<h2>Details</h2>

<div>
	<h4>Paking</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.IdTypeParking)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.IdTypeParking)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Adresse)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Adresse)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Ville)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Ville)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Cp)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Cp)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.PrixJournalier)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.PrixJournalier)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>
	</dl>
</div>
<div>
	<a asp-controller="Parkings" asp-action="RentParking" asp-route-id="@Model.Id">Louer</a> |
	<a asp-action="Index">Back to List</a>
</div>
